html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 150px; /* Add padding to body equal to navbar height */
    background-image: url('images/Poster_web.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll; /* Make it scroll with the page */
    background-position:  center 120px;
}

h1.title {
    display: none;
}

.content {
    min-height: calc(120vh - 100px); /* Full height minus navbar */
}